#modal-podcast {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}

/* Modal Content */
#modal-content {
    cursor: move;
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 80%;
    height: 80%;
    display: flex;
    position: relative;
    padding: 2rem;
}

/* The Close Button */
#close-modal {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0.7rem;
}

#close-modal:hover,
#close-modal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#podcast-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;

    overflow-y: scroll;

    border: 1px solid #888;
    padding: 1rem;
    width: 50%;
    margin: 0px 0.2rem 0 0;
}

.podcast-box {
    display: flex;
    border: 1px solid #ac42e9;
    border-radius: 0.5rem;
    padding: 1rem;
    width: 92%;
    height: 5rem;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
}

#podcast-player-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;

    padding: 1rem;
    width: 50%;

    background-color: #000;
    color: white;
}


.pagination-button {
    background-color: #ac42e9; /* Green */
    border: 1px solid rgb(253, 253, 253);
    color: white;
    padding: 0.5rem .8rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
  
  .pagination-button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  .pagination-button:hover {
    background-color: #9b3fd1;
  }










@media (max-width: 1140px) and (orientation: landscape) {
    #modal-content {
        flex-direction: column;
    }
    
    #podcast-list {
        align-content: flex-start;
        order: 2;
        margin: 0.2rem 0 0 0;
        height: 50%;
        width: auto;
    }

    #podcast-player-modal {
        align-content: center;
        order: 1;
        width: auto;
        height: 50%;
    } 
}

