#modal-podcast {
    display: none;
    position: absolute;
    /* width: 100%;
    height: 100%; */
    overflow: auto;
}

#modal-content {
    color: white;
    /* cursor: move; */
    background-color: #3d3a3a;
    margin: auto;
    border: 1px solid #888;
    /* width: 80%;
    height: 80%; */
    display: flex;
    position: relative;
    padding: 2rem;
}

#close-modal {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0.7rem;
}

#close-modal:hover,
#close-modal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#podcast-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;

    overflow-y: scroll;

    border: 1px solid #888;
    padding: .5rem;
    width: 50%;
    margin: 0px 0.2rem 0 0;
}

.podcast-box {
    display: flex;

    border: 1px solid #ac42e9;
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 92%;
    height: 5rem;
}

.podcast-box:hover {
    background-color: #2c2c2c;
}

.podcast-item-img {
    width: 20%;
    height: 100%;
}

.podcast-item-img img {
    width: 100%;
    height: 100%;
}

.podcast-item-info {
    margin: 0.5rem;
    width: 80%;
    height: 100%;
}

#podcast-player-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 1rem;
    width: 50%;
    background-color: #000;
    color: white;
}

.modal-player-img {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.modal-player-img img {
    width: 50%;
    height: 50%;
}

.modal-audio-control {
    display: flex;
    flex-direction: row;
    justify-content: center;

    order: 1;
    padding: 0.5rem;
    background-color: #181818;
    width: 100%;
}

.pagination-button {
    text-align: center;
    text-decoration: none;
    display: inline-block;

    background-color: #ac42e9;
    color: white;
    font-size: 16px;
    border: 1px solid rgb(253, 253, 253);
    padding: 0.5rem .8rem;
    cursor: pointer;
    border: none;
}
  
.pagination-button:not(:last-child) {
    border-right: none;
}

.pagination-button:hover {
    background-color: #9b3fd1;
}

@media (max-width: 1080px) {
    #modal-content {
        flex-direction: column;
    }
    
    #podcast-list {
        align-content: flex-start;
        order: 2;
        margin: 0.2rem 0 0 0;
        height: 50%;
        width: auto;
    }

    #podcast-player-modal {
        align-content: center;
        order: 1;
        width: auto;
        height: 65%;
    }

    .modal-player-img {
        justify-content: flex-start;
    }

    .modal-player-img img {
        width: 50%;
        height: 50%;
    }
}

@media (max-width: 900px) {
    .modal-player-img img {
        width: 60%;
    }
}

