<!doctype html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="css/site/home.css">
      <link rel="stylesheet" href="css/site/homeModal.css">
      <link rel="stylesheet" href="css/site/siderBar.css">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100&display=swap" rel="stylesheet">
      <title>Hello, world!</title>
   </head>
   <body>
      <div class="container-flex">

         <div class="side-bar-opened">
            <ul> 
               <li class="side-bar-item"> Olá Luan Miano 
                  <span class="btn-close-side-bar"> ☰ </span> 
               </li>
               <li id="check-feed" class="side-bar-item">Atualizar Feed</li>
               <li class="side-bar-item">Mensagens</li>
               <li id="podcasts-list" class="side-bar-item">Listar Podcasts </li>
               <li class="side-bar-item">Respostas </li>
               <li id="creation-new-item" class="side-bar-item"> Criar Novo Item </li>
            </ul>
            <div id="side-bar-player">
               
            </div>
         </div>
        
         <div class="side-bar-closed">
            <span> ☰ </span>
         </div>

         <div class="row-flex">
            <div class="main-flex">
               <div id="loading-home">
                  <img src="assets/beanEater.gif" alt="loading">
               </div>
            </div>
         </div>

         <div id="modal-podcast" >
            <div id="modal-content">

               <div id="podcast-list">
                  <div id="pagination">
                     <button id="pgn-start" class="pagination-button"></button>
                     <button id="pgn-back" class="pagination-button"></button>
                     <button id="pgn-actual" class="pagination-button"></button>
                     <button id="pgn-next" class="pagination-button"></button>
                     <button id="pgn-total" class="pagination-button"></button>
                  </div>
               </div>
               
               <div id="podcast-player-modal">
                  <span id="close-modal">X</span>
                  <div id="modal-player"></div>
               </div>
               
            </div>
         </div>

      </div>
      <!-- Optional JavaScript -->
      <script src="js/site/app.js"></script>
      <script src="js/site/home.js"></script>
      <script src="js/site/homeModal.js"></script>
      <script src="js/site/sideBar.js"></script>
   </body>
</html>